.demo-block-container
{
    width: 100%;
    height: 300px;

    border: 1px solid #5688e8;
}

.demo-block
{
    width: 100px;
    height: 100px;

    transition: ease 500ms;
    transition-property: top, left, transform;

    background-color: #e85656;
}
