// Declaring parts of classes names
$positions: (
    'abs',
    'fix'
);

$x-axes: (
    'left',
    'center',
    'right'
);

$y-axes: (
    'top',
    'middle',
    'bottom'
);

$pseudos: (
    false,
    'before',
    'after'
);

// Declaring classes lists
// Lists by position
$abs-classes: ();
$fix-classes: ();

$transformed-classes: (
    '.absalign-animate'    // All absalign-animate classes are transformed
);


// Axes lists
$left-top-classes: ();
$left-middle-classes: ();
$left-bottom-classes: ();

$center-top-classes: ();
$center-middle-classes: ();
$center-bottom-classes: ();

$right-top-classes: ();
$right-middle-classes: ();
$right-bottom-classes: ();


// Mono-axis lists
$left-classes: ();
$center-classes: ();
$right-classes: ();

$top-classes: ();
$middle-classes: ();
$bottom-classes: ();


// Inanimate classes lists
$left-bottom-animate-classes: ();

$center-bottom-animate-classes: ();

$right-top-animate-classes: ();
$right-middle-animate-classes: ();
$right-bottom-animate-classes: ();

$right-animate-classes: ();
$bottom-animate-classes: ();


$current-class: '';
$current-inanimate-class: '';

// First loop creates the positions and axes lists
@each $position in $positions
{
    @each $x-axis in $x-axes
    {
        @each $y-axis in $y-axes
        {
            @each $pseudo in $pseudos
            {
                $is__inanimate: ($x-axis == 'right' or $y-axis == 'bottom');

                @if $position != 'fix' or not $pseudo
                {
                    $current-class: '.' + $position + '-' + $x-axis + '-' + $y-axis;

					@if $pseudo
					{
						$current-class: $current-class + '-' + $pseudo;
					}

					@if $is__inanimate
                    {
                        $current-inanimate-class: $current-class + '.absalign-animate';

                        @if $pseudo
                        {
                            $current-inanimate-class: $current-inanimate-class + '-' + $pseudo + ':' + $pseudo;
                        }
                    }

                    @if $pseudo
                    {
                        $current-class: $current-class + ':' + $pseudo;
                    }
                    @else if $x-axis == 'center' or $y-axis == 'middle'
                    {
                        $transformed-classes: append($transformed-classes, $current-class, comma);
                    }

                    @if $position == 'abs'
                    {
                        $abs-classes: append($abs-classes, $current-class, comma);
                    }
                    @else if $position == 'fix'
                    {
                        $fix-classes: append($fix-classes, $current-class, comma);
                    }

                    @if $x-axis == 'left'
                    {
                        @if $y-axis == 'top'
                        {
                            $left-top-classes: append($left-top-classes, $current-class, comma);
                        }
                        @if $y-axis == 'middle'
                        {
                            $left-middle-classes: append($left-middle-classes, $current-class, comma);
                        }
                        @if $y-axis == 'bottom'
                        {
                            $left-bottom-classes: append($left-bottom-classes, $current-class, comma);

                            @if $is__inanimate
                            {
                                $left-bottom-animate-classes: append($left-bottom-animate-classes, $current-inanimate-class, comma);
                            }
                        }
                    }

                    @if $x-axis == 'center'
                    {
                        @if $y-axis == 'top'
                        {
                            $center-top-classes: append($center-top-classes, $current-class, comma);
                        }
                        @if $y-axis == 'middle'
                        {
                            $center-middle-classes: append($center-middle-classes, $current-class, comma);
                        }
                        @if $y-axis == 'bottom'
                        {
                            $center-bottom-classes: append($center-bottom-classes, $current-class, comma);

                            @if $is__inanimate
                            {
                                $center-bottom-animate-classes: append($center-bottom-animate-classes, $current-inanimate-class, comma);
                            }
                        }
                    }

                    @if $x-axis == 'right'
                    {
                        @if $y-axis == 'top'
                        {
                            $right-top-classes: append($right-top-classes, $current-class, comma);

                            @if $is__inanimate
							{
								$right-top-animate-classes: append($right-top-animate-classes, $current-inanimate-class, comma);
							}
                        }
                        @if $y-axis == 'middle'
                        {
                            $right-middle-classes: append($right-middle-classes, $current-class, comma);

                            @if $is__inanimate
							{
								$right-middle-animate-classes: append($right-middle-animate-classes, $current-inanimate-class, comma);
							}
                        }
                        @if $y-axis == 'bottom'
                        {
                            $right-bottom-classes: append($right-bottom-classes, $current-class, comma);

                            @if $is__inanimate
							{
								$right-bottom-animate-classes: append($right-bottom-animate-classes, $current-inanimate-class, comma);
							}
                        }
                    }
                }
            }
        }
    }
}

// Second loop creates the mono-axis lists
@each $position in $positions
{
    @each $x-axis in $x-axes
    {
        @each $pseudo in $pseudos
        {
            $is__inanimate: ($x-axis == 'right');

            @if $position != 'fix' or not $pseudo
            {
                $current-class: '.' + $position + '-' + $x-axis;

				@if $pseudo
				{
					$current-class: $current-class + '-' + $pseudo;
				}

				@if $is__inanimate
                {
                    $current-inanimate-class: $current-class + '.absalign-animate';

                    @if $pseudo
                    {
                        $current-inanimate-class: $current-inanimate-class + '-' + $pseudo + ':' + $pseudo;
                    }
                }

                @if $pseudo
                {
                    $current-class: $current-class + ':' + $pseudo;
                }
                @else if $x-axis == 'center'
                {
                    $transformed-classes: append($transformed-classes, $current-class, comma);
                }

                @if $position == 'abs'
                {
                    $abs-classes: append($abs-classes, $current-class, comma);
                }
                @else if $position == 'fix'
                {
                    $fix-classes: append($fix-classes, $current-class, comma);
                }

                @if $x-axis == 'left'
                {
                    $left-classes: append($left-classes, $current-class, comma);
                }
                @if $x-axis == 'center'
                {
                    $center-classes: append($center-classes, $current-class, comma);
                }
                @if $x-axis == 'right'
                {
                    $right-classes: append($right-classes, $current-class, comma);

                    @if $is__inanimate
                    {
                        $right-animate-classes: append($right-animate-classes, $current-inanimate-class, comma);
                    }
                }
            }
        }
    }

    @each $y-axis in $y-axes
    {
        @each $pseudo in $pseudos
        {
            $is__inanimate: ($y-axis == 'bottom');

            @if $position != 'fix' or not $pseudo
            {
                $current-class: '.' + $position + '-' + $y-axis;

                @if $pseudo
				{
					$current-class: $current-class + '-' + $pseudo;
				}

				@if $is__inanimate
                {
                    $current-inanimate-class: $current-class + '.absalign-animate';

                    @if $pseudo
                    {
                        $current-inanimate-class: $current-inanimate-class + '-' + $pseudo + ':' + $pseudo;
                    }
                }

                @if $pseudo
                {
                    $current-class: $current-class + ':' + $pseudo;
                }
                @else if $y-axis == 'middle'
                {
                    $transformed-classes: append($transformed-classes, $current-class, comma);
                }

                @if $position == 'abs'
                {
                    $abs-classes: append($abs-classes, $current-class, comma);
                }
                @else if $position == 'fix'
                {
                    $fix-classes: append($fix-classes, $current-class, comma);
                }

                @if $y-axis == 'top'
                {
                    $top-classes: append($top-classes, $current-class, comma);
                }
                @if $y-axis == 'middle'
                {
                    $middle-classes: append($middle-classes, $current-class, comma);
                }
                @if $y-axis == 'bottom'
                {
                    $bottom-classes: append($bottom-classes, $current-class, comma);

                    @if $is__inanimate
                    {
                        $bottom-animate-classes: append($bottom-animate-classes, $current-inanimate-class, comma);
                    }
                }
            }
        }
    }
}
