// Declaring parts of classes names
$positions: (
    'abs',
    'fix'
);

$x-axes: (
    'left',
    'center',
    'right'
);

$y-axes: (
    'top',
    'middle',
    'bottom'
);

$inanimate: (
    false,
    true
);

$pseudos: (
    false,
    'before',
    'after'
);

// Declaring classes lists
// Lists by position
$abs-classes: ();
$fix-classes: ();

$transformed-classes: (
    '.absalign-animate'    // All absalign-animate classes are transformed
);


// Axes lists
$left-top-classes: ();
$left-middle-classes: ();
$left-bottom-classes: ();

$center-top-classes: ();
$center-middle-classes: ();
$center-bottom-classes: ();

$right-top-classes: ();
$right-middle-classes: ();
$right-bottom-classes: ();


// Mono-axis lists
$left-classes: ();
$center-classes: ();
$right-classes: ();

$top-classes: ();
$middle-classes: ();
$bottom-classes: ();


// Inanimate classes lists
$left-bottom-animate-classes: ();

$center-bottom-animate-classes: ();

$right-top-animate-classes: ();
$right-middle-animate-classes: ();
$right-bottom-animate-classes: ();

$right-animate-classes: ();
$bottom-animate-classes: ();


$current-class: '';

// First loop creates the positions and axes lists
@each $position in $positions
{
    @each $x-axis in $x-axes
    {
        @each $y-axis in $y-axes
        {
			@each $is__inanimate in $inanimate
			{
                @if not $is__inanimate or ($is__inanimate and ($x-axis == 'right' or $y-axis == 'bottom'))
                {
                    @each $pseudo in $pseudos
                    {
                        @if $position != 'fix' or not $pseudo
                        {
                            $current-class: '.' + $position + '-' + $x-axis + '-' + $y-axis;

							@if $pseudo
							{
								$current-class: $current-class + '-' + $pseudo + ':' + $pseudo;
							}
                            @else if not $is__inanimate and ($x-axis != 'left' or $y-axis != 'top')
                            {
                                $transformed-classes: append($transformed-classes, $current-class, comma);
                            }

							@if $is__inanimate
							{
								$current-class: $current-class + '.absalign-animate';

								@if $pseudo
								{
									$current-class: $current-class + '-' + $pseudo + ':' + $pseudo;
								}
							}

                            @if $position == 'abs' and not $is__inanimate
                            {
                                $abs-classes: append($abs-classes, $current-class, comma);
                            }
                            @else if $position == 'fix' and not $is__inanimate
                            {
                                $fix-classes: append($fix-classes, $current-class, comma);
                            }

                            @if $x-axis == 'left'
                            {
                                @if $y-axis == 'top'
                                {
                                    $left-top-classes: append($left-top-classes, $current-class, comma);
                                }
                                @if $y-axis == 'middle'
                                {
                                    $left-middle-classes: append($left-middle-classes, $current-class, comma);
                                }
                                @if $y-axis == 'bottom'
                                {
                                    @if not $is__inanimate
                                    {
                                        $left-bottom-classes: append($left-bottom-classes, $current-class, comma);
                                    }
                                    @else
                                    {
                                        $left-bottom-animate-classes: append($left-bottom-animate-classes, $current-class, comma);
                                    }
                                }
                            }

                            @if $x-axis == 'center'
                            {
                                @if $y-axis == 'top'
                                {
                                    $center-top-classes: append($center-top-classes, $current-class, comma);
                                }
                                @if $y-axis == 'middle'
                                {
                                    $center-middle-classes: append($center-middle-classes, $current-class, comma);
                                }
                                @if $y-axis == 'bottom'
                                {
                                    @if not $is__inanimate
                                    {
                                        $center-bottom-classes: append($center-bottom-classes, $current-class, comma);
                                    }
                                    @else
                                    {
                                        $center-bottom-animate-classes: append($center-bottom-animate-classes, $current-class, comma);
                                    }
                                }
                            }

                            @if $x-axis == 'right'
                            {
                                @if $y-axis == 'top'
                                {
                                    @if not $is__inanimate
                                    {
                                        $right-top-classes: append($right-top-classes, $current-class, comma);
                                    }
									@else
									{
										$right-top-animate-classes: append($right-top-animate-classes, $current-class, comma);
									}
                                }
                                @if $y-axis == 'middle'
                                {
                                    @if not $is__inanimate
                                    {
                                        $right-middle-classes: append($right-middle-classes, $current-class, comma);
                                    }
									@else
									{
										$right-middle-animate-classes: append($right-middle-animate-classes, $current-class, comma);
									}
                                }
                                @if $y-axis == 'bottom'
                                {
                                    @if not $is__inanimate
                                    {
                                        $right-bottom-classes: append($right-bottom-classes, $current-class, comma);
                                    }
									@else
									{
										$right-bottom-animate-classes: append($right-bottom-animate-classes, $current-class, comma);
									}
                                }
                            }
                        }
                    }
                }
			}
        }
    }
}

// Second loop creates the mono-axis lists
@each $position in $positions
{
    @each $x-axis in $x-axes
    {
        @each $is__inanimate in $inanimate
        {
            @if not $is__inanimate or ($is__inanimate and $x-axis == 'right')
            {
                @each $pseudo in $pseudos
                {
                    @if $position != 'fix' or not $pseudo
                    {
                        $current-class: '.' + $position + '-' + $x-axis;

						@if $pseudo
						{
							$current-class: $current-class + '-' + $pseudo + ':' + $pseudo;
						}
                        @else if not $is__inanimate and $x-axis != 'left'
                        {
                            $transformed-classes: append($transformed-classes, $current-class, comma);
                        }

                        @if $is__inanimate
                        {
                            $current-class: $current-class + '.absalign-animate';

                            @if $pseudo
                            {
                                $current-class: $current-class + '-' + $pseudo + ':' + $pseudo;
                            }
                        }

                        @if $position == 'abs' and not $is__inanimate
                        {
                            $abs-classes: append($abs-classes, $current-class, comma);
                        }
                        @else if $position == 'fix' and not $is__inanimate
                        {
                            $fix-classes: append($fix-classes, $current-class, comma);
                        }

                        @if $x-axis == 'left'
                        {
                            $left-classes: append($left-classes, $current-class, comma);
                        }
                        @if $x-axis == 'center'
                        {
                            $center-classes: append($center-classes, $current-class, comma);
                        }
                        @if $x-axis == 'right'
                        {
                            @if not $is__inanimate
                            {
                                $right-classes: append($right-classes, $current-class, comma);
                            }
                            @else
                            {
                                $right-animate-classes: append($right-animate-classes, $current-class, comma);
                            }
                        }
                    }
                }
            }
        }
    }

    @each $y-axis in $y-axes
    {
        @each $is__inanimate in $inanimate
        {
            @if not $is__inanimate or ($is__inanimate and $y-axis == 'bottom')
            {
                @each $pseudo in $pseudos
                {
                    @if $position != 'fix' or not $pseudo
                    {
                        $current-class: '.' + $position + '-' + $y-axis;

						@if $pseudo
						{
							$current-class: $current-class + '-' + $pseudo + ':' + $pseudo;
						}
                        @else if not $is__inanimate and $y-axis != 'top'
                        {
                            $transformed-classes: append($transformed-classes, $current-class, comma);
                        }

                        @if $is__inanimate
                        {
                            $current-class: $current-class + '.absalign-animate';

                            @if $pseudo
                            {
                                $current-class: $current-class + '-' + $pseudo + ':' + $pseudo;
                            }
                        }

                        @if $position == 'abs' and not $is__inanimate
                        {
                            $abs-classes: append($abs-classes, $current-class, comma);
                        }
                        @else if $position == 'fix' and not $is__inanimate
                        {
                            $fix-classes: append($fix-classes, $current-class, comma);
                        }

                        @if $y-axis == 'top'
                        {
                            $top-classes: append($top-classes, $current-class, comma);
                        }
                        @if $y-axis == 'middle'
                        {
                            $middle-classes: append($middle-classes, $current-class, comma);
                        }
                        @if $y-axis == 'bottom'
                        {
                            @if not $is__inanimate
                            {
                                $bottom-classes: append($bottom-classes, $current-class, comma);
                            }
                            @else
                            {
                                $bottom-animate-classes: append($bottom-animate-classes, $current-class, comma);
                            }
                        }
                    }
                }
            }
        }
    }
}
