@mixin transform($function)
{
    transform: $function;

    transform-style: preserve-3d;
}

@mixin left-top
{
    top: 0;
    left: 0;
}

@mixin left-middle
{
    top: 50%;
    left: 0;

    @include transform(translateY(-50%));
}

@mixin left-bottom
{
    bottom: 0;
    left: 0;
}

@mixin center-top
{
    top: 0;
    left: 50%;

    @include transform(translateX(-50%));
}

@mixin center-middle
{
    top: 50%;
    left: 50%;

    @include transform(translate(-50%, -50%));
}

@mixin center-bottom
{
    bottom: 0;
    left: 50%;

    @include transform(translateX(-50%));
}

@mixin right-top
{
    top: 0;
    right: 0;
}

@mixin right-middle
{
    top: 50%;
    right: 0;

    @include transform(translateY(-50%));
}

@mixin right-bottom
{
    right: 0;
    bottom: 0;
}

@mixin left
{
    left: 0;
}

@mixin center
{
    left: 50%;

    @include transform(translateX(-50%));
}

@mixin right
{
    right: 0;
}

@mixin top
{
    top: 0;
}

@mixin middle
{
    top: 50%;

    @include transform(translateY(-50%));
}

@mixin bottom
{
    bottom: 0;
}






@mixin left-bottom-animate
{
    top: 100%;
    bottom: auto;
    left: 0;

	@include transform(translate(0, -100%));
}

@mixin center-bottom-animate
{
    top: 100%;
    bottom: auto;
    left: 50%;

	@include transform(translate(-50%, -100%));
}

@mixin right-top-animate
{
    top: 0;
    right: auto;
    left: 100%;

	@include transform(translateX(-100%));
}

@mixin right-middle-animate
{
    top: 50%;
    right: auto;
    left: 100%;

	@include transform(translate(-100%, -50%));
}

@mixin right-bottom-animate
{
    top: 100%;
    right: auto;
    bottom: auto;
    left: 100%;

	@include transform(translate(-100%, -100%));
}

@mixin right-animate
{
    right: auto;
    left: 100%;

	@include transform(translateX(-100%));
}

@mixin bottom-animate
{
    top: 100%;
    bottom: auto;

	@include transform(translateY(-100%));
}
